<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <h3><%= todos.length === 0 ? 'There are no To Dos yet!' : '' %></h3>
    <ul>
    <% todos.forEach(function(t) { %>
      
        <li><%= t.item %> - <%= t.done ? 'Done' : 'Not Done' %> </li>
      </ul>
      <% }); %>
    <hr>
    <form action="/" method="POST">
              <input type="text" name="name" id="name" required>
              <button type="submit">ADD TO DO</button>
            </form>
            <% todos.forEach(function(t) { %>
            <form action="/<%= t[i]._id %>?_method=DELETE" method="POST">
              <input type="submit" value="Remove" />
              <% }); %>
          </form>
  </body>
</html>

